<header>
  <div class="container-fluid">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0">
            <a href="index.html" class="navbar-brand">
                <img class="img-fluid" src="assets/image/logo.JPG" alt="Logo">
            </a>
            <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a href="/home" class="nav-item nav-link active">Home</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle1" data-bs-toggle="dropdown">Employees</a>
                        <div class="dropdown-menu bg-light rounded-0 m-0">
                            <a href="/employees" class="dropdown-item">Employee List</a>
                            <a href="/employees" class="dropdown-item">Employee Summary</a>
                        </div>
                    </div>
                    <a href="/ngrx" class="nav-item nav-link active">ngRX InstallationIssue</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->
</header>