<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-12">
            New Employee
          </div>
          
        </div>
      </div><br/>
      <form #employeeForm="ngForm">
        <div class="table-content">
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="FirstName" class="p-t-b-10">First Name<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9 space">
              <input type="text" class="form-control" id="firstName" required maxlength="255"
                [(ngModel)]="addEmployeeForm.firstName" name="firstName" #firstName="ngModel">
              <!-- <div *ngIf="FirstName.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!FirstName.errors?.['required']">
                  First Name is required
                </div>
              </div> -->
            </div>
          </div>
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="LastName" class="p-t-b-10">Last Name<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9 space">
              <input type="text" class="form-control" id="lastName" required maxlength="255"
                [(ngModel)]="addEmployeeForm.lastName" name="lastName" #lastName="ngModel">
              <!-- <div *ngIf="LastName.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!LastName.errors?.['required']">
                  Last Name is required
                </div>
              </div> -->
            </div>
          </div>
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label class="p-t-b-10">Department<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9 space">
              <input type="text" class="form-control" id="department" required
                [(ngModel)]="addEmployeeForm.department" name="department" #department="ngModel">
             
            </div>
          </div>
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label class="p-t-b-10">Date Of Joining<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9 space">
              <input type="text" class="form-control" id="doj" required
                [(ngModel)]="addEmployeeForm.doj" name="doj" #doj="ngModel">
             
            </div>
          </div>
         
          
        </div>
        <div class="table-footer">
          <button class="btn btn-success" (click)="addEmployee(employeeForm.form.valid)">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
