<div class="container-xl">
    <div class="table-responsive1">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row space">
            <div class="col-md-12 text-center">
              <h4><b>NGRX Data Issue</b></h4>
            </div>
            
            <div class="col-md-12 space">
                <h4>NodeJS -On My system</h4>
              <img class="img-fluid" src="assets/image/MySystem_NodeVersion.JPG" alt="nodeissue">
            </div>
            <div class="col-md-12 space">
                <h4>WorkerThreadsIssue-</h4>
                <img class="img-fluid" src="assets/image/workerThreadsIssue.JPG" alt="Logo">
              
            </div>
            <div class="col-md-12 space">
                <h4>Resoltion - Node version needs to update</h4>
                <img class="img-fluid" src="assets/image/node12+required-workertread.JPG" alt="Logo">
              
            </div>
           
          </div>
        </div>
    </div>
</div>
</div>
